.article {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border: 1px solid #ddd;
  border-radius: 6px;
  padding: 1rem;
}

.article > header {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.article > header > span {
  font-weight: bold;
}

.article > header > img {
  width: 2rem;
  height: 2rem;
  border-radius: 6px;
}

.article > header > time {
  margin-left: auto;
  font-size: 90%;
  color: #666;
}

.article > footer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 0.5rem;
}

.article > footer > span {
  margin-right: auto;
}

button {
  border: none;
  border-radius: 6px;
  padding: 0.3rem 0.5rem;
}

textarea {
  border: 1px solid #ddd;
  padding: 0.3rem;
  min-height: auto;
}
